<!-- loading windows -->
<template name="gearLoading">
    <div id="gearLoadingModal" class="modal">
        <div class="modal-content">
            <img src="/images/logos/miniLogo.png" height="100">
            <div id="gear" style="height: 210px;">
                <div class="gearContainer">
                    <div class="gearbox">
                        <div class="overlay"></div>
                        <div class="gear one">
                            <div class="gear-inner">
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                            </div>
                        </div>
                        <div class="gear two">
                            <div class="gear-inner">
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                            </div>
                        </div>
                        <div class="gear three">
                            <div class="gear-inner">
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                            </div>
                        </div>
                        <div class="gear four large">
                            <div class="gear-inner">
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                                <div class="gear-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>{{_ "loading_msg"}}</h3>
            <p>{{conf "name"}}</p>
        </div>
    </div>
</template>